header {
    text-align: center;
    background-color: red;
    color: white;
    

footer {
    text-align: center;
    background-color: green;
    color: blue;
    }
#First{
    color: green;
    }
.second{
    color: red;
    }
}